* {
    box-sizing: border-box;
}
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
@media (max-width: 375px){
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .bg-container{
        background: url('https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-top-mobile.svg'), 
        url('https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-bottom-mobile.svg');
        background-position: top , bottom;
        background-repeat: no-repeat;
        background-color: var(--white);
        line-height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "League Spartan";
        height: 90%;
        width: 90%;

    }
    .heading{
        color: var(--very-dark-magenta);
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .first-paragraph{
        color: var(--dark-grayish-magenta);
        font-size: 20px;
        text-align: center;
        font-weight: 400;
    }
    .main-rating-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rating-bg-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--light-grayish-magenta);
        width: 100%;
        padding: 20px;
        border-radius: 12px;
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 20px;
    }
    .rating-container-text{
        font-size: 15px;
        color: var(--very-dark-magenta);
        font-weight: 700;
    }
    .review-container{
        background-color: var(--very-dark-magenta);
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 12px;
        padding: 20px;
    }
    .profile-container{
        display: flex;
        margin-top: 19px;
        align-items: center;
    }
    .profile-image{
        height: 40px;
        border-radius: 80px;
    }
    .reviewr-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    .reviwer-name{
        color: var(--white);
        font-size: 15px;
        font-weight: 500;
    }
    .reviwer-status{
        color: var(--soft-pink);
        font-size: 15px;
    }
    .reviewr-comment{
        color: var(--white);
        font-size: 15px;
        margin-top:16px;
        margin-bottom: 16px;
    }
}
@media (min-width: 376px) {
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
    .bg-container{
        display: flex;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-top-desktop.svg'), url('https://gitlab.com/mountblue/js/social-proof-html-css/-/raw/master/images/bg-pattern-bottom-desktop.svg');
        background-position:  left top , right bottom;
        background-repeat: no-repeat;
        background-color: var(--white);
        line-height: 25px;
        font-family: "League Spartan";
        height: 90%;
        width: 90%;
    }
    .header-container{
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }
    .header-box{
        width:28%;
    }
    .heading{
        color: var(--very-dark-magenta);
        font-size: 52px;
        font-weight: 700;
        margin-top: 50px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    .first-paragraph{
        color: var(--dark-grayish-magenta);
        font-size: 20px;
        font-weight: 400;
    }
    .rating-bg-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: var(--light-grayish-magenta);
        padding: 30px;
        border-radius: 12px;
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 20px;
    }
    .rating1{
        margin-left: -80px;
    }
    .rating2{
        margin-left: -40px;
    }
    .rating-container-text{
        font-size: 15px;
        width: 200px;
        color: var(--very-dark-magenta);
        font-weight: 700;
        margin-left: 16px;
    }
    .review-container{
        background-color: var(--very-dark-magenta);
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 12px;
        height: 250px;
        width: 400px;
        padding: 20px;
    }
    .box1{
        margin-right: 21px;
    }
    .box2{
        margin-top: 40px;
        margin-right: 21px;
    }
    .box3{
        margin-top: 80px;
    }
    .profile-container{
        display: flex;
        margin-top: 19px;
        align-items: center;
    }
    .profile-image{
        height: 40px;
        border-radius: 80px;
    }
    .main-review-container{
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-top: 30px;
    }
    .reviewr-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
    .reviwer-name{
        color: var(--white);
        font-size: 15px;
        font-weight: 500;
    }
    .reviwer-status{
        color: var(--soft-pink);
        font-size: 15px;
    }
    .reviewr-comment{
        color: var(--white);
        font-size: 15px;
        margin-top:16px;
        margin-bottom: 16px;
    }
}